*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 50px;
    width: 100%;
    background-color: blue;
    position: relative;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    background-color: white;
}